{% extends 'base.html' %}

{% block body %}
<header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('visualization') }}">Visualization</a></li>
      </ul>
    </nav>
  </header>
  <div class="team">
		<div class="member">
			<img src="static/images/member1.jpg" alt="Yash">
			<h3>Yash</h3>
			<p><a href="https://www.linkedin.com/in/mainhoonyash/">View Profile</a></p>
		</div>
		<div class="member">
			<img src="static/images/member2.jpeg" alt="Sonam">
			<h3>Sonam</h3>
			<p><a href="https://www.linkedin.com/in/sona08618/">View Profile</a></p>
		</div>
		<div class="member">
			<img src="static/images/member3.jpeg" alt="Taneya">
			<h3>Taneya</h3>
			<p><a href="https://www.linkedin.com/in/taneya-soni-037451171/">View Profile</a></p>
		</div>
		<div class="member">
			<img src="static/images/member4.jpeg" alt="Abhishek">
			<h3>Abhishek</h3>
			<p><a href="https://www.linkedin.com/in/abhishek-pathak-0b0187238/">View Profile</a></p>
		</div>
	</div>
{% endblock %}
